html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}
.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
.container {
  max-width: 1212px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 1rem 0rem;
}
.text {
  color: #747474;
  font-family: Roboto, sans-serif;
}
.tweet-text,
.comment-text {
  padding: 0.3rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  background: rgba(239, 234, 225, 0.2);
  border: 1px solid #efeae1;
  border-radius: 50px;
  margin-top: 2.2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header_logo {
  margin-left: 2rem;
}
.header_logo img {
  width: 6rem;
  align-items: center;
  transition: 0.2s;
}
.header_logo img:hover {
  transform: scale(1.1);
}
.user_name {
  font-size: 1.5rem;
  line-height: 28px;
  text-decoration-line: underline;
  color: #747474;
  margin-right: 5px;
}
.header_user_info-block {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  background: rgba(239, 234, 225, 0.2);
  border: 1px solid #efeae1;
  box-sizing: border-box;
  border-radius: 50px;
  margin-top: auto;
  margin-bottom: 35px;
  margin-bottom: 2.2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-info {
  margin-left: 2rem;
  width: 200px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 16px;
  color: #747474;
}
h1 {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 16px;
  color: #747474;
  text-align: center;
  font-style: normal;
  font-weight: normal;
}
.footer-github .svg-btn {
  margin-right: 2rem;
  margin-top: 0.3rem;
}
.svg-btn {
  cursor: pointer;
  fill: #747474;
  width: 2rem;
  height: 2rem;
  transition: 0.2s;
}
.svg {
  fill: #747474;
  width: 3rem;
  height: 3rem;
}
.avatar-block {
  display: flex;
  align-items: center;
}
.header .avatar-block:hover {
  fill: #747474;
  opacity: 0.85;
}
.header .avatar-block {
  margin-right: 10px;
}
.header .avatar-block .svg {
  margin-top: 8px;
}
.svg-btn:hover,
.user_name:hover {
  fill: #747474;
}
.svg-btn:hover {
  opacity: 0.85;
  transform: scale(1.1);
}
.new-tweet {
  min-width: 25rem;
  height: 3.5rem;
  background: rgba(239, 234, 225, 0.2);
  border: 1px solid #efeae1;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
}
.new-tweet_textarea {
  width: 85%;
  height: 2.5rem;
  background: #ffffff;
  border: 1px solid #747474;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 0.7rem;
  font-size: 1rem;
  line-height: 21px;
  font-size: 1.5rem;
}
.tweet-container {
  cursor: pointer;
  min-width: 27rem;
  background: rgba(239, 234, 225, 0.2);
  border: 1px solid #efeae1;
  border-radius: 30px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.comment-container {
  max-width: 493px;
  background: rgba(239, 234, 225, 0.2);
  border: 1px solid #efeae1;
  border-radius: 30px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tweet_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.tweet_user_info-block {
  display: flex;
  align-items: center;
}
.tweet_user_info-block .user_avatar,
.comment_user_info-block .user_avatar {
  margin-right: 10px;
}
.tweet-content,
.comment-content {
  font-size: 1rem;
  line-height: 21px;
}
.tweet-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date-block {
  margin-right: 15px;
}
.comment-counter {
  display: flex;
}
.comment-counter_number {
  font-size: 14px;
  margin-right: 4px;
  margin-top: 10px;
  padding-left: 13px;
  padding-top: 7px;
}
.filter {
  min-width: 300px;
  height: 240px;
  margin-left: 1rem;
  background: rgba(239, 234, 225, 0.2);
  border: 1px solid #efeae1;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  position: relative;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.filter_header {
  color: #747474;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 28px;
  margin-top: 0.7rem;
}
.filter_header .svg-btn {
  margin-top: 5px;
}
.filter.hidden {
  height: 3.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.filter.hidden .filter-content {
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.filter-content {
  position: absolute;
  background: rgba(239, 234, 225, 0.2);
  border: 1px solid rgba(116, 116, 116, 0.5);
  box-sizing: border-box;
  border-radius: 20px;
  width: 93%;
  bottom: 10px;
  font-size: 1.25rem;
  line-height: 21px;
  padding: 12px;
}
.filter-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.filter-item .filter-name {
  width: 45px;
}
.filter-name {
  margin-right: 5px;
}
.switch {
  position: relative;
  display: inline-block;
  min-width: 50px;
  height: 24px;
  margin-right: 5px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f0c9c5;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
input:checked + .slider {
  background: #d3f0e1;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
input:focus + .slider {
  background: #d3f0e1;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.filter_name,
.filter_date,
.filter_text,
.filter_hastag {
  width: 135px;
  height: 25px;
  background: #ffffff;
  border: 1px solid #d3f0e1;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
}
.filter_date {
  position: relative;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.main_content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.btn {
  background: rgba(175, 203, 240, 0.45);
  border: 1px solid #afcbf0;
  color: #747474;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background: rgba(175, 203, 240, 0.45);
  border: 1px solid #afcbf0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  transition: 0.2s;
}
.new-tweet_btn {
  width: 4rem;
  height: 2.5rem;
  font-size: 1.2rem;
  line-height: 21px;
  border-radius: 3px;
  margin-left: 20px;
}
.load-more_btn,
.go-back_btn,
.registration_btn,
.login_btn {
  width: 11rem;
  height: 3.5rem;
  border-radius: 30px;
  font-size: 1.5rem;
  line-height: 28px;
}
.go-back_btn {
  margin-right: 1rem;
  /* margin-top: 1rem; */
}
.btn:hover {
  background: rgba(175, 203, 240, 0.55);
}
.btn:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tweet-text span,
.comment-text span {
  background-color: #d197f0;
  color: #d3f0e1;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.registration-form-block {
  display: flex;
  justify-content: center;
  margin: 5rem;
}
.registration-form-block-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
  height: 18rem;
  background: rgba(239, 234, 225, 0.9);
  border: 1px solid #efeae1;
  border-radius: 30px;
  font-size: 1.5rem;
  line-height: 28px;
  text-align: center;
  color: #747474;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.registration-form-block_main {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.registration-form-block_header {
  width: 90%;
}
.registration-form-block_footer {
  width: 90%;
}
.registration-form-block_header img {
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-right: -5px;
}
.registration-form-block_header,
.registration-login-block,
.registration-password-block,
.registration-form-block_footer {
  display: flex;
  justify-content: space-between;
}
.registration-login-block,
.registration-password-block {
  margin-top: 1rem;
}

@media (max-width: 1250px) {
  .body {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
  .main {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .main_content {
    margin-right: 0px;
    width: 100%;
  }
  .tweets-container {
    width: 100%;
  }
  .tweet-container {
    max-width: 100%;
  }
  .filter {
    margin-bottom: 15px;
    left: 0;
  }
  .new-tweet {
    min-width: 100%;
  }
  .filter {
    width: 100%;
    margin-left: 0rem;
  }
  .registration-form-block-container {
    border-radius: 20px;
  }
  .go-back_btn {
    margin-right: 0rem;
    margin-top: 1rem;
  }
}

@media (max-width: 440px) {
  html {
    font-size: 12px;
  }
  .registration-form-block_header img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 10px;
  }
  .new-tweet_textarea {
    padding-top: 0.1rem;
  }
}
