html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Inter, Tahoma, sans-serif;
}
*,
*:after,
*:before {
    box-sizing: inherit;
}
body {
    background-color: #e1e5ec;
}
.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.containet-item {
    margin-top: 20px;
    display: flex;
    width: 729px;
    height: 251px;
    background-color: white;
    border-radius: 10px;
}

.header-title {
    font-family: -apple-system, BlinkMacSystemFont, Inter, Roboto, Helvetica, Arial, sans-serif;
    font-size: 23px;
    font-weight: 700;
    /* margin-top: 20px; */
}
.header-btn {
    width: 174px;
    height: 48px;
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 1.375rem;
    background-color: #ff6f32;
    border-color: #ff6f32;
    border-radius: 5px;
    color: white;
    margin: 10px 16px;
}
.header-btn:hover {
    background-color: #ff6f32;
    opacity: 0.9;
}
.containet-item_content {
    width: 522px;
    padding: 20px 17px 20px 20px;
}
.content-header {
    display: flex;
    height: 36px;
    justify-content: space-between;
    /* margin-left: 20px; */
    /* border-bottom: 1px solid #dee2e6; */
}
.content-main_main_header_text {
    font-size: 0.75rem;
}
.content-header img {
    width: 36px;
    border-radius: 50%;
    margin-right: 10px;
}

.content-header img:hover:after {
    content: attr(alt);
}
.containet-item_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #dee2e6;
}
.btn {
    cursor: pointer;
}
.block-left {
    display: flex;
}
.block-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.block-right_item-circl {
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    /* background: 1px silver; */
    border-radius: 50%;
    border: 1px solid #f6f6f6;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.block-right_item-circl svg {
    fill: #f54759;
}
.block-right_item svg:hover {
    fill: #0c73fe;
}
.block-right_item {
    margin-left: 5px;
}
.content-main {
    display: flex;
    justify-content: space-between;
    margin-top: 1.15rem;
}
.content-main_left-header,
.content-main_right-header {
    /* font-family: Inter, Tahoma, sans-serif; */
    font-size: 1.75rem;
    line-height: 1em;
    /* margin-bottom: 5px; */
}
.content-main_left-main,
.content-main_right-main {
    color: #9ea9b7;
    font-size: 0.75rem;
    line-height: 1.5em;
}
.content-main_left-footer,
.content-main_right-footer {
    color: #9ea9b7;
    font-size: 0.75rem;
    line-height: 1.5em;
}

.content-main_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content-main_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.content-main_main_header {
    color: #9ea9b7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 258px;
}
.content-main_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-main_main_header svg:hover {
    fill: #ff6f32;
}
svg {
    cursor: pointer;
}

.content-main_main_footer {
    color: #0c73fe;
    font-size: 0.625rem;
    line-height: 1.5;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-main_main_footer span:hover {
    cursor: pointer;
    color: #ff6f32;
}
/* 
.content-main_main_main {
    flex-grow: 155;
    position: relative;
    height: 5px;
    border-radius: 2.5px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 20px;
    flex: 1 0 20px;
    border: 1px solid transparent;
    background-color: var(--ticket-segment-connector-background);
    text-align: center;
}
.content-main_main_main::before {
    content: "";
    width: 100%;
    height: 11px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
} */
.header-btn-color {
    position: absolute;
    top: -10px;
    /* width: 125px; */
    height: 21px;
    /* background-color: #35c768; */
    font-size: 13px;
    line-height: 17px;
    border-radius: 30px;
    color: var(--white);
    /* display: inline-block; */
    /* max-width: 100%; */
    /* overflow: hidden; */
    padding: 2px 8px;
    position: relative;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.green-btn {
    background-color: #35c768;
}
.purple-btn {
    background-color: #b983f1;
}
.separation {
    margin-top: 12px;
    margin-bottom: -8px;
    border-bottom: 1px solid #dee2e6;
    align-items: center;
}

.header-title-bottom {
    color: #ff6f32;
    text-align: center;
    /* color: #0c73fe; */
    font-size: 0.825rem;
    line-height: 1.5;
    font-weight: 600;
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
}
